body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .playlist-container {
    display: flex;
    height: 85vh;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 20px;
  }
  
  .playlist-sidebar, .playlist-detail {
    margin-top: 0;
  }
  
  .playlist-sidebar {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .playlist-detail {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #45a049;
    }
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    line-height: 1.6;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="url"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  